<h1>hello <%= verifyUser.name %> !</h1>
<br>
<br>
<br>
<p>Your otp is <strong style="font-size: larger;"> <%= otp %></strong></p>
<br>
<p>Please Do not share to anyone</p>
<br>
<br>
<br>
<h1>Thanks!</h1>