<!-- <footer>
    <% if(!locals.user){ %>

        <div>
            <a href="/users/sign_in">sign-in</a>
    </div>
    
    <div>
        <a href="/users/sign_up">sign_up</a>
    </div>

    <div>
        <a href="/users/auth/google">sign-up/ sign-in with Google</a>
    </div>
    
    <% }else{ %>
        <button><a href="/users/destroy">logout </a></button>
    <% } %>
    
</footer> -->