
<link rel="stylesheet" href="/css/verify_otp_setPass.css">
<section id="container-form">

    <p>
        <%= user.name %>
    </p>

    <form action="/users/set_password" method="post">
        <input type="password" name="newpassword" id="" placeholder="Enter new PAssword">
        <input type="password" name="confirm_password" id="" placeholder=" Re-Enter new PAssword">
        <input type="hidden" name="verifyUserEmail" id="" value="<%= user.email %>">
        <button>Set Password</button>
    </form>

</section>