<link rel="stylesheet" href="/css/verify_otp_setPass.css">

<section id="container-form">

    <p>
        <%= user.name %>
    </p>

    <form action="/users/verifyOTP" method="post">
        <input type="text" name="otp" placeholder="Enter otp sent to <%= user.email %>">
        <input type="hidden" name="verifyUserEmail" value="<%= user.email %>">
        <button>Verify</button>
    </form>

</section>